.btn{
    border: none;
    padding: 1rem;
    border-radius: 5px;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
    width: max-content;
}

.btn-primary{
    background: var(--primary);
}

.btn-secondary{
    background: var(--secondary);
}

.btn-success{
    background: var(--success);
}

.btn-danger{
    background: var(--danger);
}

.btn-warning{
    background: var(--warning);
}

.btn-link{
    color: var(--blue);
    font-size: 1.5rem;
    border:none;
    background: inherit;
}

.btn-link:hover{
    text-decoration: underline;
}

.btn i{
    color: var(--primary);
}

.btn-icon{
    border:none;
    background: inherit;
    padding: 0;
}

.btn-floating{
    background: none;
    border-radius: 50%;
    padding: 0;
}