.dialog{
    width:25rem;
    padding:1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dialog-description{
    margin-top: 5px;
    font-size: 1.4rem;
    min-height: 5rem;
}

.dialog-footer{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
}