.alert{
    display: flex;
    width:35rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgb(209, 209, 209);
}

.alert-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.alert-icon i{
    color: var(--white);
}

.alert-text{
    margin-left: 2rem;
    font-size: 2rem;
}

/* success-alert */
.alert-success{
    background: var(--green-light);
}

.icon-success{
    background: var(--green);
}

/* failure-alert */
.alert-failure{
    background: var(--red-light);
}

.icon-failure{
    background: var(--red);
}

/* warning-alert */
.alert-warning{
    background: var(--yellow-light);
}

.icon-warning{
    background: var(--yellow);
}

/* general-alert */
.icon-general{
    background: var(--blue);
}