@import url(/docs/docs-main.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
}

html{
	scroll-behavior: smooth;
}

body{
    max-width: 150rem;
    margin: auto;
    box-shadow: 1px 5px 5px 2px var(--shadow-grey);
    display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-areas:
    'header header header header header'
    'sidebar main main main main'
    'sidebar main main main main'
    'sidebar main main main main';
    color: var(--black-light);
}

header{
    grid-area: header;
    box-shadow: 0 2px 10px 2px var(--shadow-grey);
    height: 10vh;
    padding: 0 4rem 0 4rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:hover{
    color: var(--secondary);
}

aside{
    grid-area: sidebar;
    height:100vh;
    box-shadow: 1px 5px 5px 2px var(--shadow-grey);
    position: sticky;
    top: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    font-size: 2rem;
}

main{
    grid-area: main;
    padding: 3rem;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem;
}

aside ul li:hover{
    font-weight: bold;
}

.nav-heading{
    font-weight: 600;
    margin-top: 2rem;
}

.back-to-top-btn{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.dark-mode-toggle{
    position: fixed;
    right: 2rem;
    bottom: 7rem;
    transform: scale(.9);
}

.dark-mode-class{
    background: #162538;
    color: var(--white-light);
}

.dark-mode-class .alert-text{
    color: var(--grey);
    font-weight: 600;
}

.dark-mode-class .login-container{
    background: inherit;
}

@media screen and (max-width:1100px) {
    aside,li{
        font-size: 1.75rem;
    }
    aside,header{
        padding-left: 2rem;
    }
}

@media screen and (max-width:780px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'main'
        'main'
        'main'
        'footer';
    }

    aside{
        display: none;
    }

    main,header{
        padding-left: 2rem;
    }

    code{
        width:90vw;
    }
}

@media screen and (max-height:725px) {
    aside{
    overflow-y: scroll;
    }
}
