*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
    --BG-DARK:#999999
}

body{
    height:100vh;
    width:60%;
    margin: auto
}

nav{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.nav-left{
    font-weight: 600
}

span{
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-right{
    margin-left: auto
}

a{
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

main{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image{
    width:25rem;
    height:25rem;
}

img{
    width: 100%;
    height: 100%;
}

.description{
    font-size: 2rem;
    text-align: center;
}

#docs{
    font-size: 1.75rem;
    font-weight: 600;
    background: rgb(199, 199, 199);
    padding: .2rem 1rem .2rem 1rem;
    border-radius: 5rem;
}

@media screen and (max-width:1080px) {
    body{
        width:80%
    }

    .description{
        font-size: 1.7rem
    }

    .image{
        width:20rem;
        height:20rem;
        margin-bottom: 1rem
    }
}

@media screen and (max-width:642px) {
    main{
        margin-top: 2rem
    }
}
